doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title PUG Название страницы
    body
        h1 PUG Заголовок 7
        div
            img(src=require('./img/bmw.jpg'))
        div
            img(src=require('./img/bmw.png'))

