doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title PUG
    body
        .container
            img(src=require('image/bmw.png'))
            h1.container__title Заголовок
            p.container__p
                | По своей сути Webpack - это сборщик статических модулей для современных приложений JavaScript.
            a.container__link(href='#') Ссылка
