# самая простая сборка без сжатия HTML, CSS файлов, изображения сжимаются, шрифты орабатываются
# example-0

# сборка с автоматическим регулирвоание mode
# example-1

# сборка с pug, может еще будут svg-спрайты
# example-2

node_modules
dist

# Ресурсы
# https://www.youtube.com/watch?v=IZGNcSuwBZs - Traversy Media
# https://www.youtube.com/watch?v=o8KMucDpSno - Онлайн-школа MethEd
# https://www.youtube.com/watch?v=gVenbqg9Rww - GrandpaJS
