doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title PUG Название страниц
        link(href=require('./styles.scss') rel='stylesheet')
    body
        h1 PUG Заголовок 123
        div
            img(src=require('./img/bmw.jpg'))
        div
            img(src=require('./img/bmw.png'))
        script(src=require('./js/scripts.js'))
